

body{
    max-width: 600px;
    margin: auto;
    text-align: center;
    background-color: aqua;
    font-size: large;
}

main {
    display: flex;
    flex-direction: column; 
}

main label{
    margin: 0.5em;
}

main input {
    box-shadow: none;
    border: none;
    border-radius:0.4em;
    max-width:200px;
    margin: auto;
    padding: 0.4em;
}

button {
    box-shadow: none;
    border: solid;
    border-radius: 0.4em;
    max-width: 100px;
    padding: 0.5em;
    margin: auto;
    margin-top: 1em;
}